@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');




/* Todas las propiedades CSS */
:root{
    --main_font--:"Noto Sans", sans-serif;
    --secondary_font--:"Lato", sans-serif;
    --primary_font--:  "Nunito", sans-serif;

    /*-------------------------COLOR PALLETE-------------------------*/
    --field-drab: #654D23ff;
    --mint-cream: #EFF4EDff;
    --dun: #DBC7A5ff;
    --rich-black: #131B2Bff;
    --dark-moss-green: #3C4414ff;
    --umber: #675646ff;
    --avocado: #5A7C13ff;
    /*COLOR PALLETE LINK: https://coolors.co/654d23-eff4ed-dbc7a5-131b2b-3c4414-675646-5a7c13 */
}





/* First line------------------------------------*/
*{
    box-sizing: border-box;
    font-family: var(--secondary_font--);


}
body, html {
    margin: 0;
    padding: 0;
    align-content: center;
    overflow-x: hidden;
    
  }

section{
    background-color: var(--mint-cream);
 }



.background{ /* DEfine images in background */
    
    padding: 0;
    border: 0;
    
    
    display: flex;
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
    position: relative;
    
    
}
.absolute_define {  /* define main text*/ 
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: auto;
    max-width: 70vw 
}


.absolute_2nd { /*First p*/
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 70vw 
    
}



h1 {
    
    font-size: 4vw;
    color: var(--dark-moss-green);
    font-size: 5vw;
    font-weight: 1000;
}

h2{
    text-align: center;
    font-family: var(--primary_font--);
    margin: 0;
    padding: 2.5em;
    font-size: 2em;
    font-weight: 300;
    display: block;
}


#primertitulo{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: var(--rich-black);

}

/* Services----------------------------*/

#aside_a {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    max-width: 75vw;
    margin: auto;
    
}
.box_services{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25vw;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em; 
    margin-bottom: 2em;
    
    
    
    
}

.descripiton_services{
    font-family: var(--primary_font--);
    font-size: 1.4vw;
    text-align: center;
    margin-top: 1em;
    color: var(--field-drab);
    font-weight: 300;
   
}

.img_services{
    width: 25vw;
    height: 350px;
    object-fit: cover;
    position: relative;
    margin: 0;
}





/* When screen is on mobile--------------------------------- */
@media screen and (max-width: 800px)  {

    .absolute_define {
        font-size: 5.5vh;
    }

    #primertitulo{
        font-size: 3vh;
    }
    
    .box_services{
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80vw;
        align-items: center;
        justify-content: space-between;
      }
      .img_services{
        width: 80vw;
    }
    .descripiton_services{
        font-family: var(--primary_font--);
        font-size: 2vh;
        text-align: center;
        margin: 1em;
    }

}