@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
/* Todas las propiedades CSS */
:root{
    --main_font--:"Noto Sans", sans-serif;
    --secondary_font--:"Lato", sans-serif;


    /*-------------------------COLOR PALLETE-------------------------*/
    --field-drab: #654D23ff;
    --mint-cream: #EFF4EDff;
    --dun: #DBC7A5ff;
    --rich-black: #131B2Bff;
    --dark-moss-green: #3C4414ff;
    --umber: #675646ff;
    --avocado: #5A7C13ff;
    /*COLOR PALLETE LINK: https://coolors.co/654d23-eff4ed-dbc7a5-131b2b-3c4414-675646-5a7c13 */
}






*{
    box-sizing: border-box;
    font-family: var(--secondary_font--);


}
body, html {
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
  }

.background{
    
    padding: 0;
    border: 0;
    
    
    display: flex;
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
    position: relative;
    
    
}
.absolute_define {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: auto;
    max-width: 70vw 
}

h1 {
    
    color: var(--dark-moss-green);
    font-size: 5vh;
    font-weight: 1000;
    
   
    
}