@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');




/* Todas las propiedades CSS */
:root{
    --main_font--:"Noto Sans", sans-serif;
    --secondary_font--:"Lato", sans-serif;
    --primary_font--:  "Nunito", sans-serif;

    /*-------------------------COLOR PALLETE-------------------------*/
    --field-drab: #654D23ff;
    --mint-cream: #EFF4EDff;
    --dun: #DBC7A5ff;
    --rich-black: #131B2Bff;
    --dark-moss-green: #3C4414ff;
    --umber: #675646ff;
    --avocado: #5A7C13ff;
    /*COLOR PALLETE LINK: https://coolors.co/654d23-eff4ed-dbc7a5-131b2b-3c4414-675646-5a7c13 */
}





/* First line------------------------------------*/
*{
    box-sizing: border-box;
    font-family: var(--secondary_font--);
    text-decoration: none;


}
body, html {
    margin: 0;
    padding: 0;
    align-content: center;
    overflow-x: hidden;
    
  }


header{
    
    height: 12vh;;
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    flex-grow: 1;
    flex-direction: row;
    background-color: var(--mint-cream);
}

nav, ul,li {
    display: flex;
    text-align: center;
    flex-direction: row;
    
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    
}



nav a{
    float: left;
  
    display: flex;
    padding: 0.5em 1em;
    flex: 1;
    flex-grow: 1;
    color: var(--dark-moss-green);
    margin: 0 1em ;
    font-family: var(--primary_font--);
    border-top: 2px  solid transparent;
    border-bottom: 2px solid transparent;
    
}

.sidebar{
    position:fixed;
    top: -1em;
    right: 0;
    height: 120vh;
    width: 60vw;
    z-index: 999;
    background-color: var(--dun);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top:1rem ;
    font-size: 20px;
    
    
}


.sidebar li {
    width: 100%;
    
    padding:0.2em;
   
}

.sidebar li button,.sidebar li a {
    align-content: center;
    justify-content: center;
}

.menu-button{
display: none;
}

#closebar{
    justify-content: end;
    margin-right: -1.6vw;
    margin-top: -1.6vh;

}

button {
background: none;
cursor: pointer;
}




.hov{
    display: flex;
    flex-grow: 1;
    flex: 1;
    border-style: none;
    border-bottom: 0 none ;
    padding: 10px 15px;
    transition: transform 0.5s ease-in-out;
}

.hov:hover {
    transition: border-bottom 1s ease-in-out;
    border-bottom: 2px solid var(--dark-moss-green);
    
}


.iconimg{
    max-height: 8vh;
    margin-top: 2vh;
    margin: 0 40px;
    padding: 0;
    display: inline;
    
}




/*---------------------------------Principal----------------------*/

section{
    background-color: var(--mint-cream);
    margin: 0;
    padding: 1px;
 }





.background{ /* DEfine images in background */
    
    padding: 0;
    border: 0;
    
    
    display: flex;
    
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    z-index: -10;
    position: relative;
    
    
}
.absolute_define {  /* define main text*/ 
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: auto;
    max-width: 70vw 
}


.absolute_2nd { /*First p*/
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 70vw;
   
    
}



h1 {
    
    font-size: 4vw;
    color: var(--dark-moss-green);
    font-size: 5vw;
    font-weight: 1000;
}

h2{
    text-align: center;
    font-family: var(--primary_font--);
    margin: 0;
    padding: 2.5em;
    font-size: 2em;
    font-weight: 300;
    display: block;
}


#primertitulo{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: var(--rich-black);

}

#objetivo{  /* Objetivo de la empresa */
    max-width: 55vw;
    margin: auto;
    text-align: center;
    
    line-height: 2.5em;
}

/* Services----------------------------*/

#aside_a {
    display: grid;
    grid-auto-flow: row;
    align-items:start;
    justify-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    
    grid-template-columns: 35vw 35vw ;
    grid-template-rows: 40vw ;
    
}
.box_services{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25vw;
    height: auto;
    
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 22px;
    position: relative;
    border: var(--field-drab) 0.5px solid;
    
}

.descripiton_services{
    font-family: var(--primary_font--);
    font-size: 1.4vw;
    text-align: center;
    margin-top: 1em;
    color: var(--field-drab);
    font-weight: 300;
    
   
}

.img_services{
    width: 25vw;
    
    height: 300px;
    transform-origin: bottom;
    border-bottom-left-radius: 30px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.img_services:hover{
    transform: scale(1.2);
    
    
}


/*----------------------Wtsp Button-----------------*/
.whatsapp-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 5vw;
    background-color: #25D366; /* Color de WhatsApp */
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.whatsapp-btn:hover {
    fill: #128C7E; /* Cambia el color al hacer hover */
}


/* footer -----------------------------------*/

footer{
    background-color: var(--field-drab);
    margin: auto;
    padding: 15px;
    display: grid;
    
    justify-items: center;
    color: var(--dun);
    
    
}

footer a{
    display: flex;
    align-items: center;
    color: var(--dun);
    
    fill: var(--dun);
    
    

}

footer p{
    margin-left:  6px;
    
    

}


/* When screen is on mobile--------------------------------- */
@media screen and (max-width: 900px)  {

    header{
        height: 9vh;
        width: 100vw;
        position: fixed ;
        z-index: 50;
    }

    .hideonmobile{
        display: none;
    }

    .menu-button{
        display: block;
        padding-right: 1rem;

        }
    





    .iconimg{
        max-height: 5.5vh;
        margin-top: 2vh;
        margin: 1em;
        padding: 0;
    }

    .absolute_define {
        font-size: 5.5vh;
    }

    #primertitulo{
        font-size: 3vh;
    }
    
 /* Cuerpo -------------------------------*/
 #aside_a{
        
        
    display: block;
    justify-content: center;
   
        
    }
    section{
        padding: 10px;
    }


    



    .box_services{
        display: block;
        box-sizing:content-box;
        width: 80vw;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: 25px auto;
        border-radius: 22px;
        position: relative;
        border: var(--field-drab) 0.5px solid;
      }


    .img_services{
        box-sizing: border-box;
        width: 80vw;
        height: 35vh;
        margin:  auto;
        
        border-bottom-left-radius: 30px;
        
    }
    .descripiton_services{
        font-family: var(--primary_font--);
        font-size: 3vh;
        text-align: center;
        margin: 1em;
    }

  
    .whatsapp-btn {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 8vh;
        padding: 10px;
        z-index: 10;
    }


    /* footer----------------------------------------*/
    footer{
       margin:auto;
        
       
        
        
    }
    

}